@import url(../index.css);
@import url(../root.css);



.title{
   font-family: var(--global-font);
   font-size: var(--title-size); 
   color: #0193F4;
   font-weight: 800;
}
.description{
   margin: 0 0 3rem 0;
   font-family: var(--global-font);
   font-size: var(--p-size); 
   color: var(--global-font-color)
}

.viewPlants{
   margin: 30px;
   padding: 5px 15px 5px 15px;
   color: var(--global-font-color);
   background-color: #000;
   width: fit-content;
   font-family: var(--global-font);
   font-size: 40px;
   font-weight: 500;
   border: none;
   border-radius: 8px;
   transition: transform 0.2s ease-in;
}

.viewPlants:hover{
   transform: translateY(-5px);
   color:#0193F4;
}