@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --global-font: "Roboto", sans-serif;
  --title-size: 50px;
  --p-size: 17px;
  --global-font-color: white;
}